
    <style>
        .ttl{
            border-bottom: 3px solid #9e8cff;
        }
        .harga-total{
            color: #340086
        }
        .total{
            border-bottom: 2px solid #340086;
        }
        .title-section{
            background-color: #9e8cff;
        }
    </style>


    <% let member = data.member %> 
    <!-- title section -->
    <div class="container-fluid title-section">
        <div class="container pt-5 pb-5">
            <h1>Halaman edit memebr <i class="bi bi-person-plus"></i></i></h1>
            <small >halaman untuk mengedit member oleh admin</small>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container py-4">
            <h2 class="ttl d-inline-block">Silahkan isi bidah dibawah ini</h2>
        </div>
    </div>

    <!--untuk form-->
    <div class="container-fluid form-init">
        <div class="container">
            <form action="../../proses/update/member/<%= member.id %>" method="post">
                <input type="hidden" name="namaLama" value="<%= member.nama %>">
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="nama">Nama  :</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="nama" id="nama" value="<%= member.nama %>">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="alamat">Alamat  :</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="alamat" id="alamat" value="<%= member.alamat %> ">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="jenis_kelamin">Jenis kelamin  :</label>
                    </div>
                    <div class="col-md-10">
                        <select class="form-select" name="jenis_kelamin">
                            <option value="L" <%= (member.jenis_kelamin == "L") ? "selected" : "" %> >Laki - laki</option>
                            <option value="P" <%= (member.jenis_kelamin == "P") ? "selected" : "" %> >Perempuan</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2">
                        <label for="tlp">Telepon  :</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" name="tlp" id="tlp" value="<%= member.tlp %> ">
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <div class="submit">
                        <button class="btn btn-success"><strong>Submit </strong><i class="bi bi-arrow-up-right"></i></button>
                    </div>
                </div>
            </form>
        </div>

    </div>
