
    <style>
        .title-section{
            background-color: #9e8cff;
        }
    </style>

    <!-- title section -->
    <div class="container-fluid title-section">
        <div class="container pt-5 pb-5">
            <h1>Halaman daftar user <i class="bi bi-person-bounding-box"></i></h1>
            <small >halaman yang berisi data-data terkait user, juga sebagai tempat CRUD data user</small>
        </div>
    </div>

    <!-- card section -->
    <div class="card-section container-fluid">
        <div class="container py-5">
            <div class="row row-cols-md-4 row-cols-sm-2" >

                <% 
                    let admin = user.filter(usr => usr.role == "admin").length ? user.filter(usr => usr.role == "admin").length : 0;
                    let owner = user.filter(usr => usr.role == "owner").length ? user.filter(usr => usr.role == "owner").length : 0;
                    let kasir = user.filter(usr => usr.role == "kasir").length ? user.filter(usr => usr.role == "kasir").length : 0;
                %> 
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Jumlah user</h5>
                            <h1><strong><%= user.length %> </strong></h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Jumlah admin</h5>
                            <h1><strong><%- admin %> </strong></h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Jumlah owner</h5>
                            <h1><strong><%-owner %> </strong></h1>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Jumlah kasir</h5>
                            <h1><strong><%= kasir %> </strong></h1>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>


    <!-- table section -->
    <div class="container-fluid table-section">
        <div class="container py-3">
            <div class="wrapper d-flex justify-content-between align-items-center">
                <h3>Daftar seluruh user</h3>
                <a href="./create/user" class="btn btn-success">Tambah <i class="bi bi-person-plus-fill"></i></a>
            </div>

            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nama</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                    <th scope="col">Outlet</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% user.forEach(usr => { %>
                        <tr>
                            <td><%= usr.nama %> </td>
                            <td><%= usr.username %> </td>
                            <td><%= usr.password %> </td>
                            <td><%= usr.outlet.nama %> </td>
                            <td><%= usr.role %> </td>
                            <td><a href="update/user/<%= usr.id %> " class="btn-primary btn-sm btn">Edit</a> | <a href="app/delete/user/<%= usr.id %> " class="btn btn-sm btn-danger">Hapus</a></td>
                        </tr>
                    <% }) %> 
                </tbody>
              </table>
        </div>
    </div>